In [18]:
#data science
from sklearn import metrics
#data manitulation
import numpy as np
import pandas as pd
from datetime import datetime #date manipulation
#time serie ARIMA, SARIMA and SARIMAX
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
# time series Auto-Arima
from pmdarima import auto_arima

#data visualization
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
# import hvplot.pandas
from statsmodels.graphics.tsaplots import plot_pacf, plot_acf
import plotly.express as px
import plotly.graph_objects as go

In [19]:
df = pd.read_csv('/home/PedroSci/Documents/RegistroClima/Streamlit/dataAdjClose.csv')
df = df[['Date','AAPL']]
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index("Date")
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10893 entries, 1980-12-12 to 2024-02-28
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    10893 non-null  float64
dtypes: float64(1)
memory usage: 170.2 KB

In [22]:
df.head(15)

                AAPL
Date
1980-12-12  0.099192
1980-12-15  0.094017
1980-12-16  0.087117
1980-12-17  0.089273
1980-12-18  0.091861
1980-12-19  0.097467
1980-12-22  0.102211
1980-12-23  0.106524
1980-12-24  0.112130
1980-12-26  0.122481
1980-12-29  0.124206
1980-12-30  0.121187
1980-12-31  0.117737
1981-01-02  0.119031
1981-01-05  0.116443

In [27]:
df.index.freq = pd.infer_freq(df.index)
print(df.index.freq)

None

None